<footer class="py-3 bg-dark footer fixed-bottom nav-new-color">
  <div class="container">
    <div class="row mb-1"  style="font-family:Trebuchet MS, Arial">
      <div class="col-md-6">
        <!--<p class="m-0 text-left text-white nav-new-color">Copyright &copy; Parth Shah 2018</p>-->
      </div>
      <div class="col-md-6">
        <p class="m-0 text-right text-white nav-new-color">Developed by Parth Shah <a href="mailto:parth49411@gmail.com" class="btn btn-default"><span class="glyphicon glyphicon-envelope nav-new-color"></span></a> </p>
      </div>
    </div>
  </div>
</footer>
<!--<nav class="navbar navbar-default navbar-bottom" role="navigation">
  <div class="container">
    <div class="row mb-1"  style="font-family:Trebuchet MS, Arial">
      <div class="col-md-6">
        <p class="m-0 text-left text-white">Copyright &copy; Om Jewellers 2017</p>
      </div>
      <div class="col-md-6">
        <p class="m-0 text-right text-white">Developed by Parth Shah <a href="mailto:parth49411@gmail.com" class="btn btn-default"><span style="color:rgba(255,255,255,.5)" class="glyphicon glyphicon-envelope"></span></a> </p>
      </div>
    </div>
  </div>
</nav>
-->
